<div
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{/layout/index :: dynamic(~{:: main})}"
>
  <main>
      <div class="panel panel-primary col-sm-8 col-sm-offset-2">
        <div class="panel-heading">SHOPPING CART LOGIN</div>
		<form action="/account/laymk" method="post">
        <div class="panel-body">
          <div class="form-group">
            <div>Username:</div>
            <input name="name" class="form-control" />
          </div>

        </div>

        <div class="panel-footer text-right">
            <button class="btn btn-success" type="submit">Gui</button>
        </div>
	</form>
      </div>
  </main>
</div>
